extends navbar.pug
block content
  
  div(class="row")
    div(class="col")
      a(href="/balance")="View Account Balance"

    div(class="col")
      a(href="/account")="View Account Number"

    div(class="col")
      a(href="/contact")="Contact Us"

    div(class="col")
      a(href="/update_email_address")="Update your email address"



  
  #table-wrapper
    table
      tr 
        td(height= '20px')= "username : " + username
      tr 
        td(height= '20px')= "password : " + password
      tr  
        td(height= '20px')= "email address : " + email_address

      

      