extends navbar.pug
block content
  div(class="container")
    h2(class="pb-2")="username : " + username
    h2(class="pb-2")="password : " + password
    h2(class="pb-2")="email address : " + email_address


  div(class="row")
    div(class="col")
      a(href="/balance")="View Account Balance"

    div(class="col")
      a(href="/account")="View Account Number"

    div(class="col")
      a(href="/contact")="Contact Us"

    div(class="col")
      a(href="/update_email_address")="Update your email address"

      